@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");
:root {
  --background-color: #010101ea;
  --second-accent-color: #ffa559;
  --font-color: #dadada;
  --second-font-color: #b9b9b9;
  --accent-color: rgb(123, 255, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  background-image: url("../assets/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
header {
  color: var(--font-color);
  background-color: var(--background-color);
  backdrop-filter: blur(5px);
  box-shadow: 0px -5px 20px var(--background-color);
  margin-inline: auto;
  padding: 30px;
  font-size: 18px;
  font-weight: lighter;
  color: var(--second-font-color);
  display: flex;
  align-items: center;
  border-radius: 30px;
  #profilePicture {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 100%;
    border: 5px solid var(--accent-color);
    box-shadow: 0px 0px 10px 1px var(--accent-color);
  }
}
.description {
  span {
    color: var(--accent-color);
  }
  h1 {
    border-left: 5px solid var(--accent-color);
    padding-left: 10px;
    font-size: 42px;
    margin-bottom: 20px;
    color: var(--font-color);
  }
  width: calc(100% - 100px);
}
.whatAmIDoing {
  margin-top: 20px;
  background-color: #010101ea;
  color: var(--font-color);
  padding: 20px;
  h2 {
    text-align: center;
  }
  img {
    width: 120px;
    border: 1px solid white;
    padding: 2px;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
  }
  .status {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    p {
      margin: 10px 0px;
    }
  }
  #statusApp {
    color: var(--accent-color);
  }
  .statusMsg:nth-child(3) {
    color: var(--accent-color);
  }
}
main {
  padding: 10px;
  color: var(--font-color);
  margin-top: 5vh;
  display: grid;
  gap: 30px;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "project1 project2 project3"
    "project4 project5 project6";
}
main h2 {
  grid-area: header;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  backdrop-filter: blur(5px);
}
.project {
  .projectScreenshot {
    height: 150px;
    overflow: hidden;
  }
  cursor: pointer;
  img {
    width: 100%;
  }
  text-align: center;
  h3 {
    font-size: 20px;
    color: var(--accent-color);
    margin-bottom: 10px;
  }
  p {
    margin-top: 20px;
    font-weight: lighter;
  }
  background-color: var(--background-color);
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 30px;
  span {
    color: var(--accent-color);
  }
  transition: scale 200ms, box-shadow 200ms, rotate 200ms;
  &:hover {
    scale: 1.1;
    rotate: 2deg;
    box-shadow: 0px 0px 5px var(--accent-color);
    z-index: 2;
    backdrop-filter: none;
  }
}
#loanCalculator {
  grid-area: project1;
}
#githubViewer {
  grid-area: project2;
}
#pathOfMushrooms {
  grid-area: project3;
}
#todoApp {
  grid-area: project4;
}
#passwordGenerator {
  grid-area: project5;
}
#ratingComponent {
  grid-area: project6;
}

footer {
  margin-top: 5vh;
  padding: 10px;
  text-align: center;
  color: var(--font-color);

  h2 {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 40px;
  }
  p {
    background-color: var(--background-color);
    padding: 10px;
    border-bottom: 1px solid var(--accent-color);
    &:last-child {
      border: none;
    }
  }
  #discord span {
    color: #5865f2;
  }
  a {
    color: #6e5494;
  }
  #mail span {
    color: var(--accent-color);
  }
}
.container {
  min-width: 500px;
  max-width: 55vw;
  margin-top: 70px;
  margin-inline: auto;
  padding: 10px;
  height: 100%;
}
@keyframes backgroundAnimation {
  0% {
    background-position: -15px;
  }
  50% {
    background-position: 15px 10px;
  }
  100% {
    background-position: 0px;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 70vw;
  }
  .project .projectScreenshot {
    height: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "project1 project2"
      "project3 project4"
      "project5 project6";
  }
}
@media screen and (max-width: 500px) {
  body {
    background-position: -800px;
  }
  .container {
    min-width: 100%;
    margin-top: 10px;
  }
  header {
    font-size: 20px;
    background-color: #010101f8;
    margin-top: 0px;
  }
  .description {
    width: 100%;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "project1"
      "project2"
      "project3"
      "project4"
      "project5"
      "project6";
    h2 {
      font-size: 28px;
    }
  }
  #profilePicture {
    display: none;
  }
  .project {
    backdrop-filter: none;
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
    }
  }
  .project .projectScreenshot {
    height: 200px;
  }
}
